<ion-header>
  <ion-navbar>
    <ion-title>
      Search
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getResults($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <!-- On affiche les résultats de la recherche -->
  <ion-list>
    <ion-list-header *ngIf="(results | async)?.length > 0">
      Results
    </ion-list-header>
    <ion-list-header *ngIf="(results | async)?.length == 0">
      No results    
    </ion-list-header>
    <ion-item *ngFor="let movie of (results | async)">
      <ion-thumbnail item-start>
        <img [src]=" 'https://image.tmdb.org/t/p/w90'+movie.poster_path ">
      </ion-thumbnail>
      <h2>{{ movie.title }}</h2>
      <p>{{ movie.release_date }}</p>
      <button ion-button clear item-end [navPush]="pushPage" [navParams]="movie" >></button>
    </ion-item>
  </ion-list>

</ion-content>
