<ion-header>
  <ion-navbar>
    <ion-title>
      Search
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getResults($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <!-- On affiche les résultats de la recherche -->
  <ion-list>
    <ion-list-header *ngIf="results">
      Results
    </ion-list-header>
    <ion-list-header *ngIf="!results">
      No results    
    </ion-list-header>
    <ion-item *ngFor="let current of results">
      <ion-thumbnail item-start>
        <img [src]="current.image">
      </ion-thumbnail>
      <h2>{{ current.title }}</h2>
      <p>{{ current.author }}</p>
      <button ion-button clear item-end>></button>
    </ion-item>
  </ion-list>

</ion-content>
